PORT=5000
DATABASE_URL=DATABASE_URL="mysql://root:qMDRPsMTsQMDiAlmVPUYsrAYcxJDBadE@sakura.proxy.rlwy.net:22895/railway"
JWT_ACCESS_SECRET=your_jwt_access_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=30d
